%div{ class: 'example-basic', data: { id: offer.id } }
  %p
    = offer.business.company_name
    %small
      Created
      = time_ago_in_words(offer.created_at)
      ago
    %small

      = link_to "See offer", offer_time_windows_path(offer), :class => 'see-offer-link', data: { id: offer.id }, method: :post