.example-basic
  %p
    = offer.business.company_name
    %small
      Created
      = time_ago_in_words(offer.created_at)
      ago
    %small
      = link_to "See offer", offer_time_windows_path(offer), method: :post
