<h1>Available Offers</h1>

<p><%= link_to 'Create New Deal', new_offer_path %></p>

<% @offers.each do |offer| %>
<div class="example-basic">
<p>
    <%= offer.business %><br />
    <small>Created <%= time_ago_in_words(offer.created_at) %> ago</small><br />
    <small><a href="<%= offer_path(offer) %>">See Offer</a></small>
</p>
</div>
<% end %>