%h1 
  Available Offers
= link_to 'Create New Deal', new_offer_path

- @offers.each do |offer|
  .example-basic
    %p
      = offer.business.company_name
      %small
        Created
        = time_ago_in_words(offer.created_at)
        ago
      %small
        = link_to "See offer", offer_path(offer)