// Place all the styles related to the Offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_page {
	width: 800px;
	margin: 0 auto;
}

/*#offer_available_from {
	width: 160px;
}

#offer_available_to {
	width: 160px;
}*/

#new_deal {
	width: 300px;
	float: left;
}

#card_preview {
	float: right;
}

#actual_card_div {
	width: 450px;
	margin-left: 50px;
}

#card_background {
	height: 500px;
	width: 450px;
	/*border: 1px #000000 solid;*/
	border-radius: 3px;
	-moz-box-shadow: 0px 0px 10px 0px #222222;
	-webkit-box-shadow: 0px 0px 10px 0px #222222;
	box-shadow: 0px 0px 10px 0px #222222;
}

#time_bar {
	width: 20px;
	height: 500px;
	float: right;
	background-color: #000000;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#actual_time_bar {
	width: 20px;
	height: 500px;
/*	background-color: #0f9d58;*/
	background: #0f9d58; /* Old browsers */
	background: -moz-linear-gradient(top,  #0f9d58 0%, #f4b400 50%, #db4437 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0f9d58), color-stop(50%,#f4b400), color-stop(100%,#db4437)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0f9d58 0%,#f4b400 50%,#db4437 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0f9d58 0%,#f4b400 50%,#db4437 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0f9d58 0%,#f4b400 50%,#db4437 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0f9d58 0%,#f4b400 50%,#db4437 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f9d58', endColorstr='#db4437',GradientType=0 ); /* IE6-9 */
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#offer_image_placeholder {
	width: 430px;
	height: 230px;
	background-color: #ff0000;
	background-image: url('/assets/offer_test/nike_shoes.png');
	background-size: cover;
	border-top-left-radius: 3px;
}

#offer_logo_name_price {
	width: 430px;
	height: 60px;
	background-color: #f2f2f2;
	padding-top: 10px;
	/*-moz-box-shadow: inset 0px 0px 5px 0px #888888;
	-webkit-box-shadow: inset 0px 0px 5px 0px #888888;
	box-shadow: inset 0px 0px 5px 0px #888888;*/
}

/*#logo_preview {
	width: 40px;
	height: 40px;
	background-color: #f2f2f2;
	float: left;
	margin-left: 10px;
	z-index: 4;
	background-image: url('/assets/offer_test/nike_logo.png');
	background-size: cover;
	border-radius: 3px;
	-moz-box-shadow: inset 0px 0px 5px 0px #888888;
	-webkit-box-shadow: inset 0px 0px 5px 0px #888888;
	box-shadow: inset 0px 0px 5px 0px #888888;	
}
*/

#logo_preview {
	width: 40px;
	height: 40px;
	background-color: #f2f2f2;
	float: left;
	margin-left: 10px;
	z-index: 4;
	border-radius: 3px;
	-moz-box-shadow: inset 0px 0px 5px 0px #888888;
	-webkit-box-shadow: inset 0px 0px 5px 0px #888888;
	box-shadow: inset 0px 0px 5px 0px #888888;	
}

.business_avatar_preview {
	width: 36px;
	height: 36px;
	background-color: #f2f2f2;
	float: left;
	margin-left: 2px;
	margin-top: 2px;
	z-index: 4;
	border-radius: 3px;
	box-shadow: inset 0px 0px 5px 0px #888888;
	-moz-box-shadow: inset 0px 0px 5px 0px #888888;
	-webkit-box-shadow: inset 0px 0px 5px 0px #888888;
}


input[type="file"] {
	width: 100%;
/*	background-color: #ff0000;
	background-color: #F2F2F2;
	border:thin double #4285f4;
	border-radius: 3px;*/
	color: #4285f4;
	cursor: pointer;
	font-family: Open Sans;
	font-size: 10px;
	text-transform: uppercase;
 	-webkit-appearance:none;
 	outline: none;
}

input[type="submit"] {
	background-color: #F2F2F2;
	border:thin double #4285f4;
	border-radius: 3px;
	color: #4285f4;
	cursor: pointer;
	font-family: Open Sans;
	height: 50px;
	font-size: 12px;
	text-transform: uppercase;
	width: 100%;
 	-webkit-appearance:none;
 	outline: none;
}

input[type="submit"]:hover {
	background-color: #4285f4;
	border:thin double #4285f4;
	border-radius: 3px;
	color: #f2f2f2;
	cursor: pointer;
 	-webkit-appearance:none;
 	outline: none;
}

a#stripeButton {
background-color: #F2F2F2;
border: thin double #4285f4;
border-radius: 3px;
color: #4285f4;
cursor: pointer;
font-family: Open Sans;
height: 40px;
text-align: center;
font-size: 16px;
padding-top: 8px;
padding-bottom: 8px;
/*padding-left: 32px;
padding-right: 32px;*/
text-transform: uppercase;
-webkit-appearance: none;
outline: none;
}

a#stripeButton:hover{
background-color: #4285f4;
border: thin double #4285f4;
border-radius: 3px;
color: #f2f2f2;
cursor: pointer;
-webkit-appearance: none;
outline: none;
}

.uploads {
	font-size: 14px;
	margin-bottom: 0.25rem;
}

#company_name_preview {
	width: 150px;
	height: 40px;
	margin-left: 5px;
	float: left;
	color: #4d4d4d;
}

#price_review_buy {
	width: 150px;
	height: 40px;
	margin-right: 10px;
	float: right;
	background-color: #f2f2f2;
	color: #4d4d4d;
	text-align: right;
}

.rrp {
	color: #db4437;
	text-decoration: line-through;
}

/*.strikethrough {
  position: relative;
}
.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;

  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  -o-transform:rotate(-5deg);
  transform:rotate(-5deg);
}
*/
.offer_price {
	font-weight: 600;
}

#product_profile {
	width: 430px;
	height: 210px;
	background-color: #f2f2f2;
	padding: 10px;
	border-bottom-left-radius: 3px;
}

#product_name_and_time {
	width: 410px;
	height: 40px;
	float: left;
	background-color: #777777;
}

#product_name {
	width: 330px;
	height: 40px;
	background-color: #f2f2f2;
	float: left;
	z-index: 2;
	color: #4d4d4d;
}

#product_time {
	width: 80px;
	height: 40px;
	background-color: #f2f2f2;
	color: #4d4d4d;
	text-align: right;
	float: right;
	z-index: 3;
}

#product_description {
	width: 100%;
	height: 100px;
	float: left;
	color: #4d4d4d;
	white-space: pre-line;
}

#buy_now_button {
	border-top: #e5e5e5;
	border-top-style:solid;
	border-top-width:1px;
	width: 100%;
	height: 50px;
	position: relative;
	margin-top: 140px;
}

#buy_now_button a {
	display: block;
	background-color: #F2F2F2;
	border:thin double #4285f4;
	border-radius: 3px;
	color: #4285f4;
	cursor: pointer;
	font-family: Open Sans;
	height: 40px;
	margin-top: 10px;
	/*margin-left: auto;
	margin-right: auto;*/

	text-align: center;
	padding-top: 11px;
	font-size: 16px;
	text-transform: uppercase;
	width: 140px;
 	-webkit-appearance:none;
 	outline: none;
}

#buy_now_button a:hover {
	background-color: #4285f4;
	border:thin double #4285f4;
	border-radius: 3px;
	color: #f2f2f2;
	cursor: pointer;
 	-webkit-appearance:none;
 	outline: none;
}


#offer_product_description {
	height: 170px;
}

#new_card_footer {
	clear: both;
}

.offer_list {
  width: 400px;
  margin: -350px auto;
 }

 .offer_container {
  /*width: 100%;*/
 }

.offer_card {
	width: 500px;
 	margin: 10px auto;
 }

 label {
  display: inline;
 }

 h6 {
  width: 300px;
 }


.show-preferences {
	position: absolute;
	margin-top: 30px;
	z-index: 1000;
	outline: none;
	width: 120px;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.preferences {
  width: 325px;
  background: #e6e6e6;
  padding-top: 30px;
  padding-left: 20px;
  padding-right:20px;
  padding-bottom: 20px;
  margin-left: -325px;
  margin-top: 45px;
  z-index: 100;
  position: absolute;
  float: left;
  transition: 1s margin-left ease;
  border-right: #e6e6e6;
  border-right-style:solid;
  border-right-width:1px;	 
  -moz-box-shadow: 0px 0px 10px 0px #cccccc;
  -webkit-box-shadow: 0px 0px 10px 0px #cccccc;
  box-shadow: 0px 0px 10px 0px #cccccc;  
  line-height: 0px;
}

.preferences.revealed {
  	margin-left: 0;
  	font-size: 12px;
}

.preferences p {
	font-size: 12px;
	margin-bottom: 10px;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
  vertical-align: baseline; 
  font-size: 12px;
}

.follower_count {
	visibility: hidden;
}

.follower_count_discover {

}

#search_discover {
	margin-top: 30px;
}

.business {
	width: 172px;
	background-color: #e6e6e6;
}

.businesses_discover {
	width: 205px;
	margin: 0 auto;
	background-color: #f2f2f2;
	margin-top: -10px;
}

.business_discover {
	width: 202px;
	background-color: #f2f2f2;
	height: 50px;
}

#name_and_follow {
	margin-bottom: 5px;
	height: 40px;
	-moz-box-shadow: 0px 0px 5px 0px #cccccc;
	-webkit-box-shadow: 0px 0px 5px 0px #cccccc;
	box-shadow: 0px 0px 5px 0px #cccccc;		
}

#name_for_follow {
	width: 70px;
	height: 40px;
	background-color: #fff;
	float: left;
	padding-top: 20px;
	padding-left: 5px;
}

#name_for_follow_discover {
	width: 100px;
	height: 40px;
	background-color: #fff;
	float: left;
	padding-top: 15px;
	padding-left: 5px;
	font-size: 12px;
}

#follow_for_follow {
	margin-top: 10px;
}

#avatar_for_follow {
	float: left;
	margin-top: -1px;
}

.follow_avatar {
	margin-top: 1px;
	border-top-left-radius: 3;
	border-bottom-left-radius: 3;
}

.follow {
	outline: none;
	height: 40px;
	font-size: 12px;
	margin-bottom: 0rem;
	width: 60px;
	padding: 0px;
	background-color: #e6e6e6;
	border-style: solid;
	border-width: 1px;
	border-color: #4285f4;
	color: #4285f4;

}

.follow:hover {
	background-color: #4285f4;
	color: #fff;
}

/*.awesome_follow {
	margin-top: 2px;
}

.awesome_unfollow {
	margin-top: 2px;
	color: #4285f4;
	background-color: #fff;
}*/

/* VIEWING ALL OFFERS */
#whole_page {
	width: 100%;
}

#container {
	width: 838px;
	margin: 0 auto;
}

#stream {
	width: 500px;
	margin: 0 auto;
	padding-top: 30px;
	background-color: #e6e6e6;
	border-left: #CCCCCC;
	border-left-style:solid;
	border-left-width:1px;
	border-right: #CCCCCC;
	border-right-style:solid;
	border-right-width:1px;
	position: relative;
}


#offer_card {
	width: 430px;
	padding-bottom: 30px;
	margin: 0 auto;
}

#avatar_name_time {
	/*width: 135px;*/
	width: 170px;
	height: 290px;
	background-color: #f2f2f2;
	float: left;
	margin-left: -210px;
}

#offer_owner_name_time {
	float: left;
	width: 120px;
	height: 40px;
	padding-top: 3px;
	margin-right: 5px;
	background-color: #f2f2f2;
	text-align: right;

}

.feed_avatar {
	margin-top: 3px;
}

#offer_owner_avatar {
	float: right;
	margin-right: 5px;
	margin-top: -3px;
	width: 40px;
	height: 40px;
}


#small_offer_card_background {
	height: 290px;
	width: 430px;
	/*border: 1px #000000 solid;*/
	border-radius: 3px;
	-moz-box-shadow: 0px 0px 10px 0px #222222;
	-webkit-box-shadow: 0px 0px 10px 0px #222222;
	box-shadow: 0px 0px 10px 0px #222222;
}

#small_offer_image img {
	width: 430px;
	height: 230px;
	background-color: #ffffff;
	background-image: url('/assets/offer_test/nike_index2.png');
	background-size: cover;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#small_offer_image2 {
	width: 430px;
	height: 230px;
	background-color: #ffffff;
	background-image: url('/assets/offer_test/superdry_index2.png');
	background-size: cover;
	border-top-left-radius: 3px;
}

#small_offer_image3 {
	width: 430px;
	height: 230px;
	background-color: #ffffff;
	background-image: url('/assets/offer_test/adidas_index2.png');
	background-size: cover;
	// background-color: #ffffff;
	// background-image: url('/assets/offer_test/nike_index2.png');
	// background-size: cover;
	border-top-left-radius: 3px;
}

#small_offer_info {
	width: 430px;
	height: 60px;
	background-color: #fff;
	padding-top: 10px;
	border-top: #ccc;
	border-top-style:solid;
	border-top-width:1px;
	/*-moz-box-shadow: inset 0px 0px 5px 0px #888888;
	-webkit-box-shadow: inset 0px 0px 5px 0px #888888;
	box-shadow: inset 0px 0px 5px 0px #888888;*/
	border-radius: 3px;
}

#small_offer_name_time {
	width: 150px;
	height: 40px;
	margin-left: 10px;
	float: left;
	color: #4d4d4d;
}

#small_offer_see_offer {
	width: 150px;
	height: 40px;
	margin-right: 10px;
	float: right;
	background-color: #fff;
	color: #4d4d4d;
	text-align: right;
}


.edit_profile {
	width: 500px;
	margin: 0 auto;
}

.line {
	border-top: #e5e5e5;
	border-top-style:solid;
	border-top-width:1px;
}

