- if user_signed_in? 
  %li
    = link_to 'Participating Businesses', businesses_path
  %li 
    = link_to 'Sign Out', destroy_user_session_path, method: :delete
  %li
    - if current_user.avatar.exists?
      = image_tag current_user.avatar.url(:tiny)
- else
  %ul
    %li{class: "active"}
      = link_to 'Login', new_user_session_path